<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/welcome.css">
    <title>Welcome</title>
</head>
<body>
    <div class="content">
        <h3 class="title m-t-40">Welcome!</h3>
        <div class="btn-container">
            <button type="button" onclick="location.href='register'" class="btn btn-success m-r-10">Create account</button>
            <button type="button" onclick="location.href='login'" class="btn btn-primary">Log in</button>
        </div>
    </div>
</body>
</html>